.container{
  height: 100%;
  max-width: 100%;
  display: flex;
  justify-content: center;
}

.noite{
  background-image: url("../assets/imgs/backgrounds/photo-1509773896068-7fd415d91e2e.jpg");
  background-size: cover;
}
