.dia{
  h1{
    color: #000000;
  }
  .daytime{
    color: #000000;
  }

  .today{
    color: #000000;
  }
}

.noite{
  h1{
    color: #fff;
  }
  .daytime{
    color: #fff;
  }
  .today{
    color: #fff;
  }
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;

  .title{
    margin: 0 0 30px 0;
    font-size: 34px;
    font-family: "Poppins";
  }

  .content{
    border: 2px solid rgb(0, 0, 0);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    .first-row{
      display: flex;
      border-bottom: 2px solid black;

      .time-section{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        border-left: 1px solid black;

        h1{
          font-size: 22px;
          font-family: "Poppins";
        }
        .today{
          font-size: 16px;
          font-family: "Poppins";
        }
      }
    }
  }
  .second-row{
    height: 500px;
    background-size: cover;
    }

    .daytime{
      font-size: 32px;
      padding: 30px;
    }
}
