@import "../../styles/scss/media-queries.scss";

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;

  .title{
    margin: 0 0 30px 0;
    font-size: 34px;
    font-family: "Poppins";
    color: #fff;
    backdrop-filter: blur(32px);
  }

  .content{
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    .first-row{
      display: flex;
      backdrop-filter: blur(25px);

      @include forMobile{
        flex-direction: column;
      }

      .time-section{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        border: 1px solid #fff;

        &:not(.currentDay){
          @include forMobile{
            display: none;
          }
        }

        &.currentDay{
          border: 2px solid #ffd900;

          &:hover{
            background-color: #ffd90028;
          }
        }

        h1{
          font-size: 22px;
          font-family: "Poppins";
          color: #fff;
        }

        .today{
          font-size: 16px;
          font-family: "Poppins";
          color: #fff;
        }
      }
    }
  }
  .second-row{
    height: 100%;
    background-size: cover;
    }

    .currently{
      font-size: 32px;
      padding: 30px;
      color: #fff;

    }

}
