<div class="container ">
  <h1>SALVADOR BAHIA, BRASIL</h1>

  <div class="content">
    <div class="first-row">
      <div class="time-section">
        <h1>30 C</h1>
        <img src="">
        <span>Segunda - feira</span>
      </div>
      <div class="time-section">
        <h1>30 C</h1>
        <img src="">
        <span>Terca - feira</span>
      </div>
      <div class="time-section">
        <h1>30 C</h1>
        <img src="">
        <span>Quarta - feira</span>
      </div>
      <div class="time-section">
        <h1>30 C</h1>
        <img src="">
        <span>Quarta - feira</span>
      </div>
      <div class="time-section">
        <h1>30 C</h1>
        <img src="">
        <span>Quarta - feira</span>
      </div>
      <div class="time-section">
        <h1>30 C</h1>
        <img src="">
        <span>Quarta - feira</span>
      </div>
      <div class="time-section">
        <h1>30 C</h1>
        <img src="">
        <span>Quarta - feira</span>
      </div>
    </div>
    <div class="second-row">
      <p class="at">Noite</p>
    </div>
  </div>
</div>
