<div class="container" ngClass="{{item.currently}}">
  <div class="title" *ngIf="item; else noConnected">
    <h1>{{item.city}}</h1>
  </div>

  <ng-template #noConnected>
    <h1>Connection Fails</h1>
  </ng-template>

  <div class="content">
    <div class="first-row">
      <div class="time-section" *ngFor="let items of item.forecast.slice(0,7); let i = index" [ngClass]="getCurrentDay(i)">
        <h1>{{items.max}} °C</h1>
        <img [src]="getSVGUrl(items.condition)" alt="SVG" />
        <div class="today">{{items.weekday}}</div>
      </div>
    </div>
    <div class="second-row">
      <p class="currently">{{item.currently | uppercase}}</p>
    </div>
  </div>
</div>
